input:focus,select:focus,textarea:focus{outline: none}
input::placeholder{color:#bbb}
input,select{border:none;box-sizing: border-box}

/* content영역 */
.contentArea p{text-align: center;line-height: 2em;width:85%;margin: 0 auto}
.summary{padding:50px 0}

.selected_content{margin: 0 auto;padding-bottom: 100px;position:relative;width:90%}

.selected_content #view_title #view_title1{padding:8px 20px;border-top: 1px solid #999;background: #ecf3f5;font-size: 1.2em}
.selected_content #view_title #view_title2{padding:5px 20px;border-top:1px solid #ccc;overflow: hidden}
.selected_content #view_title #view_title2 li:nth-child(1){float: left;padding:0 20px 0 0;border-right: 2px solid #ddd;color:#1b8ab3}
.selected_content #view_title #view_title2 li:nth-child(2){float: left;padding:0 20px}
.selected_content #view_title #view_title2 li:last-child{float: right;border: none}
.selected_content #view_content{border-top: 1px solid #ccc;border-bottom: 1px solid #999;padding:20px 0;text-align: justify;word-break: break-all}

/* 댓글부분 */
.ripple{padding:20px 3px}
.ripple>span{font-size: .9em;color:#0c3c4e;font-weight: 500;margin:0 0 5px 5px}
.ripple>span strong{color:#1b8ab3;font-weight: 400;padding-left: 3px;font-size: .8em;padding-bottom: 2px}
.ripple>span strong i{margin-right: 2px}
.ripple .ripple_content{margin: 8px 0;padding:10px 15px;border:1px solid #eee;overflow: hidden}
.ripple .ripple_content li:nth-child(1){font-size: .8em;color:#1b8ab3;margin-bottom: 3px}
.ripple .ripple_content li:nth-child(2){font-size: .9em;margin-bottom: 3px}
.ripple .ripple_content li:nth-child(2) p{line-height: 1.5em;overflow: hidden;text-align: left;margin: 0;width: 100%}
.ripple .ripple_content li:nth-child(3){float: left;font-size: .65em}
.ripple .ripple_content li:last-child{float: right;font-size: .7em}
.ripple .ripple_content li:last-child a{color:#999;padding:5px;transition: all .3s ease-out}
.ripple .ripple_content li:last-child:hover a{color:#1b8ab3}

.ripple .ripple_form{background: #ecf3f5;padding:20px 15px;overflow: hidden}
.ripple .ripple_form #ripple_box span{display: block;font-size: .85em;font-weight: 500;color: #0c3c4e;
                                      padding:5px}
.ripple .ripple_form #ripple_box textarea{border:none;width:100%}
.ripple .ripple_form #ripple_box a{display: block;float: right;text-align: center;font-size: .8em;background: rgba(12, 60, 78,.3);color:#fff;transition: all .3s ease-out;border-radius: 5px;padding:6px 20px;margin-top: 5px}
.ripple .ripple_form #ripple_box a:hover{background: #0c3c4e}

/* 맨 밑 버튼 */
.selected_content #view_button{position:absolute;right:10px;bottom:60px}
.selected_content #view_button a{margin: 0 2px;color:#fff;font-weight: 500;font-size: .9em;text-align: center;padding:5px 20px;background: #999}
.selected_content #view_button .write{background: #1b8ab3}
.selected_content #view_button .list{background: #0c3c4e}