input:focus{outline: none}
input::placeholder,textarea::placeholder{color:#bbb;font-family: 'Noto Sans KR', sans-serif;font-weight: 300;font-size: .85em}
input:focus,textarea:focus{outline: none}
input,textarea{border:none;resize: none}

/* content영역 */
.contentArea{width:1000px;margin:90px auto 120px}
.contentArea h3{color:#0c3c4e;font-size: 1.35em;font-weight: 500;margin:30px 0 20px 30px;position: relative}
.contentArea h3::before{content:'';display: block;width:10px;height:10px;border-radius: 50%;
                        background: #1b8ab3;position: absolute;left: -15px;top:0}

/* 아코디언 영역 */
.question{margin-bottom: 80px}
.question .hgroup{position:relative;margin:0 0 10px 0;}  
.question .hgroup .all{position:absolute; top:0; right:10px; color:#1b8ab3;display: block;
                       height:50px;width:50px;text-align: center;line-height: 48px;font-size: 1.8em;background: none}

.question ul{border-top: 2px solid #1b8ab3}  
.question .q{height:55px;line-height: 55px;overflow: hidden;border-bottom:1px solid #ccc;position: relative}  
.question .q a.trigger{text-align:left;display: block}  
.question .hide .q a.trigger{font-weight:normal;background:none}  
.question .q a.trigger:hover,  
.question .q a.trigger:active,  
.question .q a.trigger:focus{background:#ecf3f5;color:#000} 
.question .q>span{display: block; width:55px;height:55px;position: absolute; right: 5px; top:0;text-align: center;
                  line-height: 55px;color:rgba(33,157,203,.7);font-size: 1.1em} 
.question .a{margin:0;padding:25px 15px;line-height:1.5em; margin-top:0px; margin-bottom:0px; 
            display: none;text-align: justify;border-bottom: 1px solid #ccc;font-size: .95em}
.question i{margin: 0 15px;border-radius: 50%}
.question .q i:nth-child(1){background: #1b8ab3;padding:8px 9px;color:#fff}
.question .a i{margin: 0 15px 30px 0;float: left;padding:8px 10px;background: #ccc;color:#fff}


/* 추가 문의 */
.moreQuestion{margin: 0 auto;padding:80px 100px;color:#333;
              background:url(../images/content2/background.jpg) center no-repeat;background-size: cover}
.moreQuestion p{text-align: center;font-size: 1.2em}
.moreQuestion .mail_content{background: rgba(12,60,78,.7);padding:20px 150px;
                text-align: center;line-height: 45px;border-radius: 25px;color:#0c3c4e;margin: 20px auto}
.moreQuestion .mail_content .form-group{padding: 5px 10px; background-color: #fff; margin: 10px 0; border-radius: 15px; overflow: hidden;
                                        box-shadow: inset 3px 3px 5px 2px rgba(0,0,0,.1);position:relative}
.moreQuestion .mail_content .form-group label{float: left;width:30%;display: block}
.moreQuestion .mail_content .form-group input,.moreQuestion .mail_content .form-group textarea{width:58%;display: block;padding:10px 20px;
                                            font-size: .9em;margin-top: 3px;border-left: 2px solid #eee;outline: none}
.moreQuestion .mail_content .row .send .btn.btn-success.btn-lg{background: rgba(33,157,203);padding:5px 50px 3px;font-size: 1em;
    text-align: center;line-height: 45px;border-radius: 20px;color:#fff;margin: 20px auto;border:none;cursor: pointer;transition: all .5s ease-out}
.moreQuestion .mail_content .row .send .btn.btn-success.btn-lg span{font-weight: 600}
.moreQuestion .mail_content .row .send .btn.btn-success.btn-lg:hover{background: #ecf3f5;color:#0c3c4e}

/* 경고 */
.moreQuestion .mail_content .form-group .text-danger{position:absolute; right: 0; top: 5px; color:rgba(217,83,79,.7);font-size: 0.75em}
.moreQuestion .mail_content .form-group .text-danger ul{margin-right:15px}


/* 전송메세지 */
.moreQuestion .mail_content #success{clear:both; padding: 5px;}
.moreQuestion .mail_content #success .alert{position:relative; font-size:1rem; background:#ecf3f5; color:#1b8ab3; border-radius:2px; box-sizing:border-box; margin-top:10px;}
.moreQuestion .mail_content #success .alert button{position:absolute; right:15px; top:50%; margin-top:-10px; width:20px; height:20px; line-height:20px; font-size:1.5rem; text-align:center; border:0 none; background:none; padding: 0; color:rgba(0,0,0,0.4); cursor: pointer;}
.moreQuestion .mail_content #success .alert strong{display:block; font-weight: normal; padding:17px 25px; /*color:#31708f;*/}
    /* 실패 시 */
.moreQuestion .mail_content #success .alert.alert-danger{background:#f2dede; border-color:#ebccd1; color:#a94442;}