/* content영역 */
.contentArea p{text-align: justify; line-height: 1.75em}
.contentArea{width:100%;margin:0 auto;padding:50px 0 0}

/* 삼양가치 */
.summary>p{margin: 20px auto 40px;text-align: center;width:85%}
.summary span{color:#1b8ab3}

/* 삼양가치내용 */
.tabs{width:100%;background: #ecf3f5;padding:50px 0;overflow: hidden}
.tabs .tab_menu{width:85%;display: grid;grid-template-columns: repeat(6,1fr);grid-auto-rows: 80px;grid-gap: 5px;margin: 0 auto}
.tabs .tab_menu li a{background: #fff;border-radius: 15px;box-shadow: 2px 2px 10px 3px rgba(0,0,0,.1);overflow: hidden;}
.tabs .tab_menu i{color:#1b8ab3;font-size: 2em;display: block;margin-top: 3px}

.tabs .tab_menu li a{display:block;padding:10px 0;text-align:center;
                width:auto;font-weight:500;}
.contlist{width:90%;margin:20px auto 0; line-height:2em;overflow: hidden;
              padding: 0 5% 30px;position: relative}

.contlist img{border-radius: 20px 0;box-shadow: 5px 5px 20px 5px rgba(0,0,0,.1);
              margin-right:30px;width:100%}
.contlist span{font-size: 1.6em;color:#1b8ab3;font-weight: 500;margin-top: 20px;display: block}
.contlist p{margin: 10px 0;text-align: justify}
.contlist i{position:absolute;right:8%;bottom:0;font-size: 3em;color:#fff;background: none;box-shadow: none}
