/* content영역 */
.contentArea{width:1200px;margin:0 auto;padding:80px 0 0}

.summary{text-align: center}

.intro{padding:100px 50px 80px;overflow: hidden}
.intro>img{border-radius: 50px 0; box-shadow: 5px 5px 20px 3px rgba(0,0,0,.1);float: left}
.intro .textBox{width:550px;margin-left: 520px;text-align: justify;line-height: 2.5em;padding-top: 30px;}
.intro .textBox p{margin:30px 0}

.feature{position: relative;left:50%;top:0;margin-left: -1000px;width:2000px;height:800px;background: #f8f8f8;padding:80px 0}
.featureInner{width:1200px;margin: 0 auto;position: relative}
.featureInner>img{position:absolute;left:495px; top:160px}
.featureInner .title{font-size: 2em;color:#1b83ba;background:none;margin:0 475px}

.featureInner ul{position: relative}
.featureInner li{position: absolute}
.featureInner li:nth-child(1){left:140px;top:120px}
.featureInner li:nth-child(2){left:70px;top:340px}
.featureInner li:nth-child(3){left:800px;top:120px}
.featureInner li:nth-child(4){left:870px;top:340px}
.featureInner li:nth-child(5){left:460px;top:580px}

.featureInner li p{text-align: center; display: none; transition: all .5s ease-out}
.featureInner li:nth-child(1) p{margin-left: -80px}
.featureInner li:nth-child(2) p{margin-left: -47px}
.featureInner li:nth-child(3) p{margin-left: -70px}
.featureInner li:nth-child(4) p{margin-left: -45px}
.featureInner li:nth-child(5) p{margin-left: -137px}

.featureInner li:hover p{display: block}

.featureInner span{display: block;text-align: center; font-size: 1.4em;font-weight: 500;color:#fff;
                   background: #ccc;width:250px;height:40px;padding:8px 0 7px;border-radius: 30px;
                   margin-bottom: 20px;transition: all .5s ease-out;}
.featureInner li:hover span{background: #1b83ba;box-shadow: 5px 5px 15px 3px rgba(0,0,0,.1)}


.reusePet{padding:80px 0 120px}
.reusePet .slogan{font-size: 2.2em;color:#1b83ba;font-family: 'Noto Serif KR', serif;text-align: center;line-height: 2em}

.reusePet>img{-webkit-box-reflect:below -15px -webkit-gradient(linear,left top,left bottom, 
      from(transparent),color-stop(0.7,transparent),to(white));
          margin: 30px 352px 80px 352px}
.reusePet p{text-align: center;line-height: 2.2em}
.reusePet .openPop{display: block;width:500px;height:40px;background: #ccc;color: #fff;text-align: center;
      padding: 15px 0; transition:all .5s ease-out;margin: 70px 0 30px 350px}
.reusePet .openPop span{line-height: 40px}
.reusePet .openPop:hover{background: #1b8ab3;box-shadow: 5px 5px 15px 3px rgba(0,0,0,.2)}
.reusePet .openPop i{margin-left: 20px;width:35px;height:27px;border-radius: 50%;padding-top:9px;transition: all .5s ease-out}
.reusePet .openPop:hover i{background: #fff;color:#1b8ab3}

/* popup창 */

#content .modal_box{position: fixed; left: 0; top: 0; z-index: 50; width: 100%; height: 100%; 
      background: rgba(0,0,0,.45); display: none}
#content .sub_popup{position: fixed; top: 50%; left: 50%; margin: -400px 0 0 -600px; 
    width: 1140px; height: 734px;background: #fff; box-shadow: 5px 5px 20px 3px rgba(0,0,0,.3);
    z-index: 60; display:none;overflow: hidden;padding:30px;overflow: hidden;border-top: 6px solid #0c3c4e}

#content .sub_popup .left{width:650px}


#content  .sub_popup .sub_close_btn{position: absolute; top: -3px; right: 3px; display: block; overflow: hidden; width: 50px; 
    height: 50px; padding: 9px 9px;color:rgba(33,157,203,.7);text-align: center;font-size: 2em;z-index: 70}

#content .sub_popup h3{text-align: center;font-size: 1.2em; font-weight: 500; margin-top: 40px; color: #1b8ab3}

#content .sub_popup .top{overflow: hidden;width:880px;margin: 20px auto 0;background: #ecf3f5;padding:30px 80px}
#content .sub_popup .top li{float: left;width:280px;margin: 0 6px}
#content .sub_popup .top li span{display: block;text-align: center}
#content .sub_popup .top li span:nth-child(1){font-size: 1.3em;color:#0c3c4e;margin-bottom: 10px;}
#content .sub_popup .top li span:nth-child(1) i{font-size: 1.3em;color:#1b8ab3}
#content .sub_popup .top li span:nth-child(2){margin: 0 auto}
#content .sub_popup .top li span:nth-child(3){margin-top: 15px;font-size: .9em}

#content .sub_popup .bottom{overflow: hidden;padding:30px 60px}
#content .sub_popup .bottom ol{float: left}
#content .sub_popup .bottom li{width:600px;height: 28px;background: rgba(27,138,179,.3);text-align: center;margin-bottom: 5px;
                               padding: 4px 0;margin-left: -10px;border-radius: 30px}

#content .sub_popup .bottom img{float: right;margin-right: -10px;}